<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ITaskPool">
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:58297/TaskPool.svc" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_ITaskPool" contract="TaskRequestServ.ITaskPool"
                name="WSHttpBinding_ITaskPool" />
        </client>
    </system.serviceModel>
</configuration>
